@using umbraco.MacroEngines
@using System.Web.Mvc
@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@{ 
	var thisPage = Model.Content;
	var homePage = thisPage.AncestorOrSelf(1);
	var footerText = homePage.HasValue("footerContentOne") ? homePage.GetPropertyValue("footerContentOne") : null;
}
<section class="footer-content-band">
	<div class="container">
		<div class="footer-content">
			<div class="footer-element logo">
				@Html.Partial("_LogoLinked", Model, new ViewDataDictionary {{"useNeg", "true"}})
			</div>
			@if (footerText != null)
			{
				<div class="footer-element">
					<div class="inner">
                        @Html.Raw(footerText)
					</div>
				</div>
			}
		</div>
	</div>
</section>


