<?xml version="1.0" encoding="utf-8"?>
<caching currentCache="AzureBlobCache">
  <caches>
  <cache name="AzureBlobCache" type="ImageProcessor.Web.Plugins.AzureBlobCache.AzureBlobCache, ImageProcessor.Web.Plugins.AzureBlobCache" maxDays="365">
      <settings>
        <setting key="CachedStorageAccount" value="#{justil-storageConnString}#"/>
        <setting key="CachedBlobContainer" value="cache"/>
        <setting key="UseCachedContainerInUrl" value="true"/>
        <setting key="CachedCDNRoot" value="https://justil.azureedge.net"/>
        <setting key="CachedCDNTimeout" value="1000"/>
        <setting key="SourceStorageAccount" value="#{justil-storageConnString}#"/>
        <setting key="SourceBlobContainer" value="media"/>
        <setting key="StreamCachedImage" value="false"/>
      </settings>
    </cache></caches>
</caching>
