<?xml version="1.0" encoding="utf-8"?>
<security>
  <services>
    <service prefix="remote.axd" name="RemoteImageService" type="ImageProcessor.Web.Services.RemoteImageService, ImageProcessor.Web">
      <settings>
        <setting key="MaxBytes" value="4194304" />
        <setting key="Timeout" value="3000" />
        <setting key="Protocol" value="http" />
      </settings>
      <whitelist>
      </whitelist>
    </service>
  <service name="AzureImageService" prefix="media/" type="ImageProcessor.Web.Plugins.AzureBlobCache.AzureImageService, ImageProcessor.Web.Plugins.AzureBlobCache">
      <settings>
        <setting key="StorageAccount" value="#{justil-storageConnString}#" />
        <setting key="Container" value="media" />
        <setting key="AccessType" value="Blob" />
      </settings>
    </service>
  </services>
</security>
